* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#141e30, #243b55);
  height: 100vh;
  color: #03e9f4;
  font-size: 16px;
}

input,
button {
  background: transparent;
  border: none;
  outline: none;
}
.box {
  width: 380px;
  height: 470px;
  position: relative;
  margin: 8% auto;
  background-color: rgba(52, 58, 64, 0.8);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

.btnBox {
  width: 230px;
  height: 45px;
  margin: 30px auto;
  position: relative;
  /* box-shadow: 0 0 40px 1px #fff; */
  border-radius: 20px;
}

.changeBtn {
  position: relative;
  padding: 8px 16px;
  background: transparent;
  letter-spacing: 2px;
  font-size: 19px;
  font-weight: 700;
  border: 0;
  outline: none;
}

#switch-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 100%;
  background-color: #10f8e5;
  color: black;
  box-shadow: 0 0 5px 0 #03e9f4, 0 0 10px 0 #03e9f4, 0 0 15px 0 #03e9f4,
    0 0 25px 0 #03e9f4;
  border-radius: 20px;
  transition: 0.7s;
}

.info {
  position: absolute;
  width: 300px;
  top: 150px;
  text-align: center;
  transition: 0.7s;
}
#log {
  left: 40px;
}
#sign {
  left: 420px;
}
.input {
  position: relative;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
}

.input input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 15px;
  box-sizing: border-box;
}

.input input:focus + label,
.input input:valid + label {
  top: -7px;
  font-size: 14px;
  color: white;
}
.input label {
  position: absolute;
  top: 12px;
  left: 0;
  transition: all 0.2s linear;
}

.submitBtn {
  padding: 10px 20px;
  margin-top: 10px;
  color: #03e9f4;
  letter-spacing: 2px;
  border-radius: 7px;
}

.submitBtn:hover {
  background-color: #03e9f4;
  color: black;
  box-shadow: 0 0 5px 0 #03e9f4, 0 0 10px 0 #03e9f4, 0 0 15px 0 #03e9f4,
    0 0 25px 0 #03e9f4;
}
